.resume {
    background-color: #F4E9CD;
    color: #324851;
    padding: 40px;
    text-align: left;
    min-height: 100vh;
  }
  
  .resume h1, .resume h2 {
    color: #5E8B7E;
  }
  
  .resume-content section {
    margin-bottom: 20px;
  }
  
  .resume-pdf a {
    display: inline-block;
    background-color: #A4C3B2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .resume-pdf a:hover {
    background-color: #5E8B7E;
  }
  